.nav-menu {
  position: absolute;
  top: 20px;
  right: 30px;

  a, a:visited {
    display: inline-block;
    margin: 4px 12px;
    text-align: center;

    &, i, span, span:before {
      color: #555;
    }

    i {
      display: block;
      margin: 0 auto 4px;
      font-size: 3em;
    }
    &:hover {
      color: darken($green, 8);
      i, span, span:before {
        color: darken($green, 8);
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .nav-menu {
    top: 10px;
    right: 15px;
  }
}
@media (max-width: 430px ) {
  .nav-menu {
    top: 15px;
  }
  .block-right .content {
    padding-top: 40px;
  }
  .content > .section-title {
    bottom: 40px;
    left: 40px;
  }
}
@media (min-width: 431px ) {
  .nav-menu a {
    min-width: 76px
  }
}
@media (max-width: 340px ) {
  .nav-menu {
    top: 10px;
    a { margin: 4px 10px; }
  }
  .post-title-section {
    bottom: 20px;
    .section-title {
      font-size: 32px;
    }
  }
  .block-right .content {
    // padding-top: 100px;
  }
}
