<nav class="nav-menu">
  <a href="{{ site.url }}/blog/" title="Blog">
    <i class="icon-blog"></i>
    BLOG
  </a>
  <a href="{{ site.url }}/reference/" title="Reference">
    <i class="icon-reference"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></i>
    REFERENCE
  </a>
  <a href="{{ site.url }}/kontakt/" title="Kontakt">
    <i class="icon-contact"></i>
    KONTAKT
  </a>
</nav>
