@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vo8nji');
  src:  url('fonts/icomoon.eot?vo8nji#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vo8nji') format('truetype'),
    url('fonts/icomoon.woff?vo8nji') format('woff'),
    url('fonts/icomoon.svg?vo8nji#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-blog:before {
  content: "\e904";
}
.icon-contact:before {
  content: "\e905";
}
.icon-reference .path1:before {
  content: "\e906";
  color: rgb(255, 255, 255);
}
.icon-reference .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-reference .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-reference .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-reference .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-reference .path6:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-reference .path7:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-reference .path8:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-reference .path9:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-reference .path10:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

