---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="posts"{% if page.description == "404" %} class="inner-post-page"{% endif %}>

    <div class="block-left">
      <div class="content">
        <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>
          {% if page.description == "404" %}
          <div class="post-title-section">
            <h1 class="section-title">{{ page.title }}</h1>
            <div class="section-line reverse"><a href="{{ site.url}}">Zpěz na úvodní stránku</a></div>
          </div>
          {% else %}
          <h1 class="section-title">{{ page.title }}</h1>
          {% endif %}
      </div>
    </div>

    <div class="block-right">

      {% include nav.html %}

      <div class="inner-post content">
        <div class="date-highlight">{% if page.date %}{{ page.date | date: '%d %b %Y' }}{% else %}&#x2756;{% endif %}</div>
        {{ content }}
        <br>
        {% include share.html %}
      </div>
    </div>

    {% include scripts.html %}
</body>
</html>
