---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="posts" class="inner-post-page">

    <div class="block-left">
      <div class="content">
        <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>
        <div class="post-title-section">
          <h1 class="section-title">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
          
          {% comment %}
          <ul class="tags">
            {% for tag in page.tags %}
              <li><a href="{{ site.url }}/tags#{{ tag }}">{{ tag }}</a></li>
              {% unless forloop.last %}
              {% endunless %}
            {% endfor %}
          </ul>
          {% endcomment %}
          <div class="section-line reverse"><a href="{{ site.url}}/blog/">Zpět na příspěvky</div>
        </div>
      </div>
    </div>

    <div class="block-right">

      {% include nav.html %}

      <div class="share-buttons">
        {% include share.html %}
      </div>
      <div class="inner-post content">
        <div class="date-highlight">{% if page.date %}{{ page.date | date: '%-d. %-m. %Y' }}{% else %}&#x2756;{% endif %}</div>
        {{ content }}
        <br>
        {% include share.html %}
      </div>
    </div>

    {% include scripts.html %}
</body>
</html>
